*{
    box-sizing: border-box;
}

body{
    margin: 0;
    color: #fff;
    background: #20202D;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 90%;
    max-width: 945px;
    margin: auto;
}

.button{
    background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
    box-shadow: 0px 4px 0px #B68500;
    border: none;
    border-radius: 5px 5px 10px 10px;
    padding: 24px 42px;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color:inherit;
    text-decoration: none;
}

.social-links{
    a{
        margin-left: 20px;

        &:first-child{
            margin-left: 0;
        }
    }
}

.hero{
    padding-top: 50px;
    padding-bottom: 155px;
    .hero-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 105px;
        .logo{
            max-width: 30%;
        }
    }

    .hero-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .hero-text{
            .hero-subtitle{
                display: block;
                font-size: 24px;
                line-height: 28px;
                color: #FFBB01;
                margin-bottom: 14px;
            }

            .hero-title{
                font-weight: bold;
                font-size: 50px;
                line-height: 59px;
                margin-top: 0px;
                margin-bottom: 40px;
            }

            .hero-description{
                font-size: 16px;
                line-height: 28px;
                max-width: 420px;
                margin-bottom: 38px;
            }            
        }
    }
}

.section{
    padding-top: 64px;
    padding-bottom: 92px; 

    .section-title{
        margin: 0;
        margin-bottom: 84px;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
    }
}

.features{
    .features-block{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .features-item{
            flex-basis: 30%;
            margin-bottom: 63px;

            .features-image{
                display: block;
                margin-bottom: 22px;
            }

            .features-title{
                font-weight: bold;
                font-size: 24px;
                line-height: 28px;
                margin: 0;
                margin-bottom: 16px;
            }

            .features-text{
                font-weight: normal;
                font-size: 16px;
                line-height: 28px;
                margin: 0;
            }
            
        }
    }
}

.project{
    .projects-bullet{
        width: 10px;
        height: 10px;
        border: 2px solid #FFBB01;
        border-radius: 50%;
        display: inline-block;
        margin-right: 5px;
        margin-left: 5px;
    }

    .projects-bullet-active{
        background-color: #FFBB01;
    }

    .projects-pagination{
        display: flex;
        justify-content: center;
        margin-top: 44px;
    }

    .projects-slider{
        
        .projects-slide{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            .project-image{
                max-height: 280px;
                max-width: 340px;
            }

            .project-title{
                flex-basis: 100%;
                font-weight: bold;
                font-size: 24px;
                line-height: 28px;
                margin: 0;
                margin-bottom: 41px;
            }
        }   
    }
}


.contacts-block{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    text-align: center;

    .contacts-text{
        .contacts-data{
            display: flex;
            flex-wrap: wrap;
            .contacts-phone, .contacts-email{
                margin-bottom: 53px;
            }
            .contacts-social{
                flex-basis:100%;
            }

            .contact-title{
                font-weight: bold;
                font-size: 24px;
                line-height: 28px;
                margin:0;
                margin-bottom: 15px;
            }

            .contacts-link{
                text-decoration: none;
                color: inherit;
                margin-right: 15px;
                margin-left: 15px;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

@media (max-width: 1000px){
    .project{
        .projects-slider{
            .projects-slide{
                flex-direction: column;
                align-items: center;
                .project-text{
                    .project-title{
                        text-align: center;
                    }
                } 

                .project-image{
                    max-width: 100%;
                    margin-bottom: 46px;
                }
            }
        }
    } 

    .contacts-block{
        .contacts-form{
            max-width: 350px;
        }
    }
}

@media (max-width: 836px){
    .hero{
        padding-bottom: 20px;
        .hero-content{
            flex-direction: column;
            .hero-text{
                order: 1;
                text-align: center;
            }
        }
    }

    .section{
        padding-bottom: 0;
        .section-title{
            font-size: 28px;
            margin-bottom: 44px;
            text-align: center;
        }
    }
    
    .features{
        .features-block{
            .features-item{
                text-align: center;
                flex-basis: 46%;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 30px;
                .features-title{
                    font-size: 18px;
                }
                .features-title{
                    font-size: 14px;
                }
                .features-image{
                    text-align: center;
                }
            }
        }
    }

    .project{
        .projects-slider{
            .projects-slide{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .project-text{
                    .project-title{
                        text-align: center;
                    }
                }
            }
        }
    }

    .contacts-block{
        flex-direction: column;
        .contacts-form{
            max-width: 350px;
            margin-bottom: 46px;
        }

        .contacts-text{
            text-align: center;
            .contacts-data{
                .contacts-link{
                    margin-right: 10px;
                    margin-left: 10px;
                }
            }
        }
    }
}

@media (max-width: 564px){
    .hero{
        .hero-header{
            margin-bottom: 38px;
        }

        .hero-content{
            .hero-text{
                .hero-title{
                    font-size: 36px;
                }
                .hero-subtitle{
                    font-size: 16px;
                    margin-bottom: 4px;
                    line-height: 27px;
                }
                .hero-description{
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }
    }

    .project{
        .projects-slider{
            .projects-slide{
                .project-text{
                    .project-time, .project-cost{
                        flex-basis: 100%;
                        margin-bottom: 18px;
                    }
                }
            }
        }
    }
}

@media (max-width: 400px){
    .contacts-block{
        .contacts-text{
            .contacts-data{
                justify-content: center;
            }
        } 
    } 
}